.header-CTA-button {
  border-width: 1px;
  border-style: solid;
  padding: 0 8px;
  border-radius: 6px;
  line-height: 16px;
  font-size: 12px;
  height: 28px;
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 16px;
  }
}

.green {
  border-color: #007784;
  color: #007784;
  background-color: white;
  margin-right: 16px;
}

.my-profile {
  text-decoration: none;
  color: #555555;
  border: none;
  background-color: transparent;
  text-align: left;
  font-size: 16px;
  padding: 0;
  margin-right: 24px !important;
}

.sell {
  border-color: #007784;
  background-color: #007784;
  color: white;
}
