.all-windows {
  display: flex;
  flex-direction: column;
  // overflow-y: scroll;
  height: 100%;

  h1 {
    font-size: 26px;
    text-align: center;
    margin: 32px 0 24px 0;
    line-height: 35px;
  }

  > p {
    line-height: 30px;
    color: #666;
    text-align: center;

    button {
      text-decoration: underline;
      color: #007784;
      background-color: transparent;
      font-size: 16px;
    }
  }

  form {
    // Le message d'erreur pour login window :
    h2 {
      color: #df0000;
      margin-bottom: 16px;
      text-align: center;
    }

    div {
      // input {
      //   font-size: 18px;
      //   border-bottom: 1px solid lightgrey;
      // }

      small,
      span {
        color: rgb(130, 130, 130);
        line-height: 20px;

        a {
          text-decoration: underline;
          cursor: not-allowed;
          color: #007784;
        }
      }

      small {
        font-size: 12px;
      }
    }

    > button {
      background-color: #007784;
      width: 100%;
      border-radius: 4px;
      padding: 16px 0;
      margin-top: 16px;
      color: white;
      font-size: 18px;
    }

    p {
      line-height: 80px;
      text-align: center;
      button {
        color: #007784;
        font-size: 16px;
      }
    }
  }
}

.error-message {
  color: #df0000 !important;
}

.log-in-form {
  margin-bottom: 32px;
}

.sign-up-form {
  margin-bottom: 24px;
}

.checkboxes {
  display: flex;
  margin-bottom: 16px;
  align-items: flex-start;
  gap: 10px;

  input {
    width: unset !important;
    transform: scale(1.57);
    cursor: pointer;
  }
}
