body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.hero-section {
  position: relative;
  margin-bottom: 96px;
  img:nth-of-type(1) {
    width: 100%;
    height: 800px;
    object-fit: cover;
    position: relative;
  }
  img:nth-of-type(2) {
    position: absolute;
    bottom: 0px;
    left: 50%; // ok!
  }

  > div {
    position: absolute;
    background-color: rgb(255, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    // margin: auto 0;
    bottom: 0px;
    left: 0px;
    > div {
      background-color: white;
      width: 384px;
      padding: 32px;
      position: absolute;
      bottom: 50%;
      left: 300px;

      h2 {
        color: rgb(23 23 23);
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 48px;
        line-height: 50px;
        width: 80%;
      }

      button {
        color: white;
        background-color: #007784;
        border: none;
        padding: 16px;
        border-radius: 5px;
        font-size: 17px;
        cursor: pointer;
        width: 100%;
      }
    }
  }
}

// .hero-image {
//   width: 100%;
//   height: 600px;
//   object-fit: cover;
//   margin-bottom: 96px;
//   position: relative;
// }

// .hero-box-large {
//   width: 100%;
//   height: 100%;
//   position: relative;
//   // bottom: 30px;
//   // left: 300px;
// }

// hero
// .hero-box {
//   background-color: white;
//   width: 384px;
//   padding: 32px;
//   position: absolute;
//   bottom: 50%;
//   left: 300px;

//   h2 {
//     color: rgb(23 23 23);
//     font-size: 32px;
//     font-weight: 500;
//     margin-bottom: 48px;
//   }

//   button {
//     color: white;
//     background-color: #007784;
//     border: none;
//     padding: 8px 16px;
//     border-radius: 5px;
//     font-size: 17px;
//     cursor: pointer;
//   }
// }

// home offers
.home-all-offers {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 24px;

  article {
    //top info (username + avatar)
    > div {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      img {
        border-radius: 50%;
        width: 24px;
        height: 24px;
        object-fit: cover;
        margin-right: 16px;
      }

      // bottom info (brand + size)
      span {
        color: #828482;
        font-size: 12px;
      }

      p {
        color: #828482;
        font-size: 12px;
        line-height: 12px;
      }
    }

    // img offer :
    a {
      img {
        height: 360px;
        width: 235px;
        object-fit: cover;
      }
    }

    // price :
    > p {
      color: #007784;
      line-height: 25px;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
