.header-CTA-button {
  border-width: 1px;
  border-style: solid;
  padding: 0 8px;
  border-radius: 6px;
  line-height: 16px;
  font-size: 12px;
  height: 28px;
  cursor: pointer;
  // &:not(:last-child) {
  //   margin-right: 16px;
  // }
}

.green {
  border-color: #007784;
  color: #007784;
  background-color: white;
  margin-right: 16px;
}

.my-profile {
  border: none;
  color: #555555;
  background-color: transparent;
  margin-right: 24px !important;
  text-decoration: none;
  text-align: left;
  font-size: 14px !important;
  padding: 0;
}

// > button {
//   margin-right: 24px;
//   background-color: transparent;
//   border: none;
//   color: #4a4a4a;
//   cursor: pointer;
// }

.sell {
  border-color: #007784;
  background-color: #007784;
  color: white;
}

@media (max-width: 992px) {
  .header-CTA-button {
    width: 100%;
    height: unset;
    line-height: 30px;
    font-size: 17px;
    margin: 8px 0;
    padding: 8px 0px;
  }
}
