.checkout-container {
  width: 600px;
  margin: 0 auto;
  padding: 72px 32px;
}

.checkout-form {
  h2 {
    color: #999999;
    font-size: 15px;
    // margin-bottom: 40px;
  }

  menu {
    margin: 32px 0 48px 0;

    ul {
      display: flex;
      justify-content: space-between;
      line-height: 30px;
      color: #666666;
      font-size: 15px;
    }

    ul:last-of-type {
      font-weight: bold;
    }
  }

  button {
    width: 100%;
    padding: 8px 0;
    color: white;
    background-color: #008960;
    border: none;
    cursor: pointer;
    margin-top: 24px;
    font-size: 17px;
    line-height: 25px;
  }
}
