.checkout-container {
  width: 600px;
  margin: 0 auto;
  padding: 72px 32px;
  min-height: 100vh;
}

.checkout-form {
  h2 {
    color: #999999;
    font-size: 15px;
  }

  menu {
    margin: 32px 0 48px 0;

    ul {
      display: flex;
      justify-content: space-between;
      line-height: 30px;
      color: #666666;
      font-size: 15px;
    }

    ul:last-of-type {
      font-weight: bold;
    }
  }

  button {
    width: 100%;
    padding: 8px 0;
    color: white;
    background-color: #008960;
    border: none;
    cursor: pointer;
    margin-top: 40px;
    font-size: 17px;
    line-height: 25px;
  }

  small {
    color: rgb(200, 0, 0);
    line-height: 40px;
  }
}

.payment-success {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  h2 {
    font-size: 22px;
    text-align: center;
  }

  img {
    height: 42px;
    width: 42px;
  }
}

// -- MEDIA -- //

@media (max-width: 768px) {
  .checkout-container {
    width: 100%;
    margin: 52px auto 0px auto;
    padding: 64px 24px;
  }
}
