.offer-page {
  background-color: #f2f2f2;
  min-height: 100vh;

  section {
    // container images :
    > div {
      display: flex;
      gap: 2px;
      width: calc(75% - 24px);

      img {
        width: 50%;
        height: 620px;
        object-fit: cover;
      }
    }

    a {
      text-decoration: none;
    }
    // offer window :
    aside {
      width: 25%;
      background-color: white;
      padding: 16px;
      align-self: flex-start; // empêche le stretch vertical

      .product-info {
        h1 {
          color: #007784;
          border-bottom: 1px solid rgb(211, 211, 211, 0.5);
          line-height: 25px;
          padding-bottom: 8px;
        }

        ul {
          display: flex;
          li {
            width: 50%;
            color: #757575;
            display: flex;
            margin: 8px 0;
            font-size: 12px;
            line-height: 15px;
          }
        }
      }

      menu {
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        line-height: 30px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 16px 0;
        margin-bottom: 16px;
        h2 {
          color: black;
          line-height: 25px;
          font-size: 18px;
        }
        h3 {
          color: #4d4d4d;
          line-height: 20px;
        }
      }

      button {
        color: white;
        background-color: #007784;
        border: none;
        cursor: pointer;
        width: 100%;
        padding: 8px 0;
        font-size: 17px;
        border-radius: 4px;
      }

      .user-info {
        margin-top: 40px;
        display: flex;
        align-items: center;

        img {
          width: 40px;
          object-fit: cover;
          margin-right: 8px;
          border-radius: 50%;
        }

        span {
          color: black;
          &:visited {
            color: #4d4d4d;
          }
        }
      }
    }
  }
}

// L'utilisateur ne peut pas acheter un article qu'il a lui-même publié
.not-allowed {
  button {
    background-color: hsl(186, 50%, 70%) !important;
    cursor: not-allowed !important;
  }
}

.offer-container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

// offres avec une seule image :
.one-pic {
  justify-content: center;
}

// --- MEDIA --- //

@media (max-width: 1400px) {
  .offer-container {
    width: 1024px;
  }
}

@media (max-width: 992px) {
  .offer-container {
    width: 100%;
    padding: 80px 24px;
    flex-direction: column;
    gap: 40px;
  }

  .offer-page {
    section {
      > div,
      aside {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .offer-container {
    padding: 80px 16px;
  }

  .offer-page {
    section {
      > div {
        img {
          height: 400px;
        }
      }
    }
  }

  .fixed-button-sm-screen {
    height: 64px;
    width: 100%;
    background-color: white;
    border-top: 1px solid lightgray;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 16px;
  }
}

@media (max-width: 490px) {
  .offer-page {
    section {
      > div {
        img {
          height: 250px;
        }
      }
    }
  }
}
