.chevron-down {
  transform: scale(0.7);
  cursor: pointer;
}

.header-container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 24px;
  position: relative;
}

.header-component {
  border-bottom: 1px solid lightgray;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;

  > div:nth-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;

    > div {
      display: flex;
      align-items: center;
      gap: 56px;

      a {
        img {
          height: 100%;
        }
      }
    }

    > nav {
      display: flex;
      align-items: center;

      span {
        color: #555555;
        font-size: 14px;
      }
    }
  }
}

.burger-menu,
.close-burger-menu {
  display: none;
  transition: unset;
}

// Contenant de la barre de recherche pour les grans écrans :
.big-screen-input {
  max-width: 100%;
  min-width: 670px;
}

// Contenant de la barre de recherche pour les petits écrans (avec le burger menu) :
.small-screen-input {
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  padding: 8px 24px;
  background-color: white;
  width: 100%;
  display: none;
}

// Lorsque l'utilisateur clique sur le petit triangle à côté de son nom :
.mini-list {
  position: absolute;
  top: 53px;
  right: 150px;
  background-color: white;
  box-shadow: 1px 1px 7px rgb(169, 169, 169, 0.5);

  ul {
    padding: 8px;
    display: flex;
    flex-direction: column;

    button {
      text-align: start;
      line-height: 40px;
      color: #555555;
      cursor: pointer;
      font-size: 15px;
      padding: 0 8px;
      border: none;
      background-color: transparent;
      width: 100%;

      &:hover {
        background-color: rgb(239, 239, 239);
        border-radius: 3px;
      }
    }
  }
}

// -------------- MEDIA -------------- //
@media (max-width: 1400px) {
  .header-container {
    width: 1024px;
  }

  .big-screen-input {
    min-width: 500px;
  }
}

@media (max-width: 992px) {
  .header-container {
    width: 100%;
  }

  .small-screen-input,
  .burger-menu,
  .close-burger-menu {
    display: inline-block;
  }

  .big-screen-input,
  .mini-list {
    display: none;
  }

  .burger-menu {
    transform: scale(0.8);
  }

  .close-burger-menu {
    transform: scale(2.3);
    margin-right: 8px;
  }

  .header-component {
    flex-direction: column;

    > div:nth-of-type(1) {
      // On cache les CTA :
      nav {
        display: none;
      }

      // Logo avec burger menu :
      > div {
        width: 100%;
        justify-content: space-between;
      }
    }
  }
}

@media (max-width: 768px) {
  .header-container {
    padding: 0px 16px;
  }

  .small-screen-input {
    padding: 8px 16px;
  }
}
