.profile-container {
  margin: 0 auto;
  width: 1024px;
}

.profile-component {
  max-height: 100vh;
  margin-top: 80px;
  h1 {
    font-size: 30px;
  }

  menu {
    margin-top: 40px;
    display: flex;
    gap: 56px;

    > aside {
      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    > div {
      width: 100%;
      > div {
        display: flex;
        justify-content: space-between;
        margin: 24px 0;

        h2 {
          font-size: 20px;
        }

        h3 {
          padding: 8px 0;
          color: #222;
        }

        button {
          cursor: pointer;
          color: rgb(200, 0, 0);
          background-color: transparent;
          border: 1px solid rgb(200, 0, 0);
          border-radius: 3px;
          padding: 8px;
          align-self: flex-start;
          font-weight: bold;
        }
      }
    }
  }
}

//  ------- MEDIA ------- //

@media (max-width: 1400px) {
  .profile-container {
    width: 996px;
  }
}

@media (max-width: 996px) {
  .profile-container {
    margin: 88px auto;
    width: 100%;
    padding: 0 24px;
  }
}

@media (max-width: 768px) {
  .profile-container {
    padding: 0px 16px;
  }

  .profile-component {
    menu {
      gap: 32px;

      > aside {
        img {
          width: 70px;
          height: 70px;
        }
      }

      > div {
        display: flex;
        flex-direction: column;
        > div {
          flex-direction: column;
          width: 100%;
          margin: unset;
          justify-content: unset;
          gap: 72px;

          aside {
            width: 100%;
          }

          button {
            align-self: flex-end;
          }
        }
      }
    }
  }
}

@media (max-width: 490px) {
  .profile-component {
    menu {
      gap: 24px;

      > aside {
        img {
          width: 50px;
          height: 50px;
        }
      }

      > div {
        > div {
          gap: 96px;
        }
      }
    }
  }
}
