.header-component {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* vinted logo */
    > a {
      img {
        width: 59px;
        height: 23px;
      }
    }

    > nav {
      display: flex;
      align-items: center;

      p {
        margin-right: 40px;
      }
    }
  }
}

.header-container {
  width: 1280px;
  margin: 0 auto;
}
