body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 40px;
  border-bottom: 1px solid red;
  display: flex;
  align-items: center;
}

header img {
  width: 59px;
  height: 23px;
}

header button {
  border: 0.7px solid rgb(0 119 132);
  padding: 0 8px;
  border-radius: 6px;
  background-color: rgb(0 119 132);
  color: white;
  line-height: 16px;
  font-size: 12px;
  height: 28px;
}
header button:not(:last-child) {
  margin-right: 16px;
  background-color: white;
  color: rgb(0 119 132);
}

.container {
  width: 1280px;
  margin: 0 auto;
}

main > div img {
  width: 100vw;
}

main section {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 16px;
}

article > img {
  height: 360px;
  width: 235px;
  object-fit: cover;
}
