.burger-modal {
  position: fixed;
  top: 56px;
  background-color: white;
  //   z-index: 2;
  width: 100%;
  min-height: 100vh;

  menu:nth-of-type(1) {
    border-right: none;
    border-left: none;
    border-bottom: 1px solid lightgray;

    button {
      width: 100%;
      font-size: 17px;
      padding: 8px 0px;
      background-color: #067784;
      border: 1px solid #067784;
      border-radius: 5px;
      line-height: 30px;
      color: white;
    }
  }

  menu {
    > div {
      padding: 24px;

      h2 {
        font-size: 15px;
        margin: 24px 0 16px 8px;
        color: rgb(147, 147, 147);
      }

      ul {
        display: flex;
        flex-direction: column;

        > div {
          height: 100%;
          border-bottom: 1px solid lightgray;
          padding: 24px 0;

          a,
          button {
            text-decoration: none;
            color: #757575;
            border: none;
            background-color: transparent;
            text-align: left;
            font-size: 16px;
            padding: 0;
          }
        }
      }
    }
  }
}
