.publish-main {
  background-color: #ebedee;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

/* form {
  display: flex;
  flex-direction: column;
} */

.publish-form {
  background-color: #ebedee;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.publish-h2 {
  font-size: 24px;
  font-family: "Maison Neue";
  padding: 24px 0;
  margin-top: 24px;
}

.publish-section {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(190, 190, 190);
}

.publish-line {
  display: flex;
  padding: 32px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
}

.publish-input {
  border: none;
  width: 50%;
}

/* add picture button */
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Ajoute une photo";
  display: inline-block;
  background-color: white;
  color: #09b1ba;
  border: 1px solid #09b1ba;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  /* -webkit-user-select: none; */
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.publish-button {
  color: white;
  background-color: #09b1ba;
  border: none;
  width: 100px;
  margin-left: auto;
  padding: 8px;
  border-radius: 5px;
}
